.user-profile {
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 2px 4px darkslategray;
}

.pos {
    position: absolute;
    margin: auto;
    top: -50%;
    left: 0;
    right: 0;
    bottom: 0;
}
  